/*
 * See: https://fonts.google.com/license/googlerestricted
 */
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/4UaGrENHsxJlGDuGo1OIlL3Owps.ttf) format('truetype');
}
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/4UabrENHsxJlGDuGo1OIlLU94YtzCwM.ttf) format('truetype');
}
